/* CSS Document */

.form_label{
	width: 200px;
	max-width: 200px;
}

.form_select{
	width: 250px;
	height: 30px;
}

.form_input{
	width: 250px;
	height: 30px;
	border-radius: 10px;
}

.form-control{
	max-width: 300px;
}