<?php
	/****************************************************************************
	*	Desarrollado por: Fabián Murillo, fabianmurillo.01@gmail.com			*
	*					  Juan Suárez, juancsuarezg@correo.udistrital.edu.co	*
	*					  © 2017												*
	****************************************************************************/
body{
	margin:0px;
	padding:0px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
}
@-ms-viewport{
	zoom:1.0;
    width:device-width;
    width:extend-to-zoom;
}
@viewport{
    zoom:1.0;
    width:device-width;
    width:extend-to-zoom;
}


/************************************/
/*  Tamaño para versión en móviles  */
/*max-width:599px + 20px, por si se genera scroll*/
@media screen and (min-width:0px) and (max-width:619px) {
    #presentaCategoria_container{
        /**/
    }

    #presentaCategoria_container .page_content{
        margin:0px auto;
        max-width:599px;
    }


    /************************/
    /*  Inicia la edición   */
    #presentaCategoria_container .page_content .contenedor_area{
        margin:0px auto;
        min-width:200px;
        width:100%;
    }

        #presentaCategoria_container .page_content .contenedor_area .areaNavegacionEscritorio{
            /*display:none;*/
        }

        #presentaCategoria_container .page_content .contenedor_area .areaNavegacionResponsive{
            /*display:block;*/
            height:auto;
        }

        #presentaCategoria_container .areaNavegacionResponsive .cont_titulo{
            border:1px solid red;
            display:table;
            height:auto;
            text-align:center;
            vertical-align:middle;
            width:100%;
        }
            #presentaCategoria_container .areaNavegacionResponsive .cont_titulo .titulo{
                display:inline-block;
                height:auto;
                width:100%;
            }

        #presentaCategoria_container .areaNavegacionResponsive .cont_animacion{
            border:1px solid red;
            max-height:400px;
            overflow:hidden;
            width:100%;
        }
            #presentaCategoria_container .areaNavegacionResponsive .cont_animacion .animacion{
                background-position:center center;
                background-repeat:no-repeat;
                background-size:350px 400px;
                height:400px;
                margin:0px auto;
                width:350px;
            }
            #presentaCategoria_container .areaNavegacionResponsive .cont_animacion .animacion.animacion_1{
                background-image:url("../../../_img/modules/categorias/books.png");
            }
            #presentaCategoria_container .areaNavegacionResponsive .cont_animacion .animacion.animacion_2{
                background-image:url("../../../_img/modules/categorias/books.png");
            }
            #presentaCategoria_container .areaNavegacionResponsive .cont_animacion .animacion.animacion_3{
                background-image:url("../../../_img/modules/categorias/books.png");
            }
            #presentaCategoria_container .areaNavegacionResponsive .cont_animacion .animacion.animacion_4{
                background-image:url("../../../_img/modules/categorias/books.png");
            }
            #presentaCategoria_container .areaNavegacionResponsive .cont_animacion .animacion.animacion_5{
                background-image:url("../../../_img/modules/categorias/books.png");
            }
            #presentaCategoria_container .areaNavegacionResponsive .cont_animacion .animacion.animacion_6{
                background-image:url("../../../_img/modules/categorias/books.png");
            }

        #presentaCategoria_container .areaNavegacionResponsive .cont_boton{
            border:1px solid red;
            height:auto;
            width:100%;
        }
            #presentaCategoria_container .areaNavegacionResponsive .cont_boton .boton{
                border:1px solid blue;
                border-radius:7px;
                cursor:pointer;
                font-size:16px;
                height:32px;
                line-height:30px;
                margin:0px auto;
                text-align:center;
                width:90px;
            }
}


/****************************************/
/*  Tamaño para versión en escritorio   */
/*min-width:600px, arranca en 619 si se genera scroll*/
@media screen and (min-width:600px){
    #presentaCategoria_container{
        /**/
    }

    #presentaCategoria_container .page_content{
        margin:0px auto;
        max-width:1000px;
    }


    /************************/
    /*  Inicia la edición   */
    #presentaCategoria_container .page_content .contenedor_area{
        margin:0px auto;
        width:100%;
    }

        #presentaCategoria_container .page_content .contenedor_area .areaNavegacionResponsive{
            /*display:none;*/
        }

        #presentaCategoria_container .page_content .contenedor_area .areaNavegacionEscritorio{
            /*display:block;*/
            height:auto;
        }

}


/************************/
/*	ESTILOS GENERALES	*/
.hh2{
    font-size:1.5em !important;
    font-weight:bold !important;
}

.hh1{
    font-size:0.8em !important;
    font-weight:bold !important;
}