<?php
	/****************************************************************************
	*	Desarrollado por: Fabián Murillo, fabianmurillo.01@gmail.com			*
	*					  Juan Suárez, juancsuarezg@correo.udistrital.edu.co	*
	*					  © 2017												*
	****************************************************************************/
body{
	margin:0px;
	padding:0px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
}
@-ms-viewport{
	zoom:1.0;
    width:device-width;
    width:extend-to-zoom;
}
@viewport{
    zoom:1.0;
    width:device-width;
    width:extend-to-zoom;
}


/************************************/
/*  Tamaño para versión en móviles  */
/*max-width:599px + 20px, por si se genera scroll*/
@media screen and (min-width:0px) and (max-width:619px) {
    #base_container{
        /**/
    }

    #base_container .page_content{
        margin:0px auto;
        max-width:599px;
    }


    /************************/
    /*  Inicia la edición   */
    #base_container .page_content .contenedor_area{
        margin:0px auto;
        min-width:200px;
        width:100%;
    }

        #base_container .page_content .contenedor_area .areaNavegacionEscritorio{
            /*display:none;*/
        }

        #base_container .page_content .contenedor_area .areaNavegacionResponsive{
            /*display:block;*/
            height:auto;
        }
}


/****************************************/
/*  Tamaño para versión en escritorio   */
/*min-width:600px, arranca en 619 si se genera scroll*/
@media screen and (min-width:600px){
    #base_container{
        /**/
    }

    #base_container .page_content{
        margin:0px auto;
        max-width:1000px;
    }


    /************************/
    /*  Inicia la edición   */
    #base_container .page_content .contenedor_area{
        margin:0px auto;
        width:100%;
    }

        #base_container .page_content .contenedor_area .areaNavegacionResponsive{
            /*display:none;*/
        }

        #base_container .page_content .contenedor_area .areaNavegacionEscritorio{
            /*display:block;*/
            height:auto;
        } 
}


/************************/
/*	ESTILOS GENERALES	*/
.hh2{
    font-size:1.5em !important;
    font-weight:bold !important;
}

.hh1{
    font-size:0.8em !important;
    font-weight:bold !important;
}